## Primeramente importamos las librerias a ser utilizadas para posteriormente importar el 
## archivo .csv

In [47]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [48]:
URL = 'https://raw.githubusercontent.com/florenciaortega/Prediccion-de-mora/master/DATASET_PREDICT_MORA.csv'
df = pd.read_csv(URL)
df

,ID_CLIENTE,SEXO,EDAD,MESESINACTIVIDAD,USER_HOMEBANKING,DEBITOAUTOMATICO,RESUMEN_ACTIVO,CANTADICIONALES,PROVINCIA,LIMITE_DISP_TC,CONTACTO_VALIDO,ANTIGUEDAD,INACTIVIDADCOMPRA,TIENE_MAIL,Q_ACCESO_APP_3M,Q_PAGO_ELECTRONICO_6M,GRUPO_AFINIDAD,MORA_TARGET
0,31838,F,59,0,S,S,1,1,Entre Rios,32000,N,184,0.0,S,NaN,NaN,0,0
1,1920,F,52,0,N,S,1,0,Santa Fe,3900,N,57,0.0,S,NaN,NaN,1,0
2,1874,F,36,0,S,N,1,0,Entre Rios,9600,S,56,0.0,S,NaN,NaN,1,0
3,51955,F,72,0,N,N,5,0,Santiago del Estero,14000,S,78,0.0,N,NaN,NaN,1,1
4,71864,M,41,0,S,S,1,0,Santiago del Estero,27000,N,157,0.0,S,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81523,11954,M,77,0,S,S,5,0,Cordoba,6000,S,44,0.0,S,NaN,NaN,1,1
81524,81811,M,26,0,S,S,1,0,Cordoba,8800,X,63,0.0,S,NaN,NaN,1,0
81525,41826,F,31,0,N,S,1,0,San Luis,25000,S,20,0.0,S,NaN,NaN,1,0
81526,51856,F,88,0,N,S,1,2,La Pampa,15000,N,131,0.0,S,NaN,NaN,0,0
81527,81816,M,25,5,S,S,0,0,Cordoba,2400,N,48,5.0,S,NaN,NaN,1,1

In [49]:
df.isnull().sum() #AquÃ­ vemos cuÃ¡les columnas contienen mas valores null

ID_CLIENTE                   0
SEXO                         0
EDAD                         0
MESESINACTIVIDAD             0
USER_HOMEBANKING             0
DEBITOAUTOMATICO             0
RESUMEN_ACTIVO               0
CANTADICIONALES              0
PROVINCIA                    0
LIMITE_DISP_TC               0
CONTACTO_VALIDO              0
ANTIGUEDAD                   0
INACTIVIDADCOMPRA         2458
TIENE_MAIL                   0
Q_ACCESO_APP_3M          81528
Q_PAGO_ELECTRONICO_6M    81528
GRUPO_AFINIDAD               0
MORA_TARGET                  0
dtype: int64

In [50]:
df=df.drop(['Q_ACCESO_APP_3M', 'Q_PAGO_ELECTRONICO_6M'], axis=1) #Eliminamos las dos columnas mencionadas en el array
df                                                               #ya que ambas tienen todos sus valores NaN

,ID_CLIENTE,SEXO,EDAD,MESESINACTIVIDAD,USER_HOMEBANKING,DEBITOAUTOMATICO,RESUMEN_ACTIVO,CANTADICIONALES,PROVINCIA,LIMITE_DISP_TC,CONTACTO_VALIDO,ANTIGUEDAD,INACTIVIDADCOMPRA,TIENE_MAIL,GRUPO_AFINIDAD,MORA_TARGET
0,31838,F,59,0,S,S,1,1,Entre Rios,32000,N,184,0.0,S,0,0
1,1920,F,52,0,N,S,1,0,Santa Fe,3900,N,57,0.0,S,1,0
2,1874,F,36,0,S,N,1,0,Entre Rios,9600,S,56,0.0,S,1,0
3,51955,F,72,0,N,N,5,0,Santiago del Estero,14000,S,78,0.0,N,1,1
4,71864,M,41,0,S,S,1,0,Santiago del Estero,27000,N,157,0.0,S,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81523,11954,M,77,0,S,S,5,0,Cordoba,6000,S,44,0.0,S,1,1
81524,81811,M,26,0,S,S,1,0,Cordoba,8800,X,63,0.0,S,1,0
81525,41826,F,31,0,N,S,1,0,San Luis,25000,S,20,0.0,S,1,0
81526,51856,F,88,0,N,S,1,2,La Pampa,15000,N,131,0.0,S,0,0
81527,81816,M,25,5,S,S,0,0,Cordoba,2400,N,48,5.0,S,1,1

In [51]:
df.isnull().sum()

ID_CLIENTE              0
SEXO                    0
EDAD                    0
MESESINACTIVIDAD        0
USER_HOMEBANKING        0
DEBITOAUTOMATICO        0
RESUMEN_ACTIVO          0
CANTADICIONALES         0
PROVINCIA               0
LIMITE_DISP_TC          0
CONTACTO_VALIDO         0
ANTIGUEDAD              0
INACTIVIDADCOMPRA    2458
TIENE_MAIL              0
GRUPO_AFINIDAD          0
MORA_TARGET             0
dtype: int64

In [52]:
nuevo_valor = df['INACTIVIDADCOMPRA'].median()
nuevo_valor

0.0

In [53]:
df['INACTIVIDADCOMPRA'] = df['INACTIVIDADCOMPRA'].fillna(nuevo_valor) #Para la columna INACTIVIDADCOMPRA asignamos 
df.isnull().sum()                                                     #el valor de la media para rellenar los campos
                                                                      #faltantes

ID_CLIENTE           0
SEXO                 0
EDAD                 0
MESESINACTIVIDAD     0
USER_HOMEBANKING     0
DEBITOAUTOMATICO     0
RESUMEN_ACTIVO       0
CANTADICIONALES      0
PROVINCIA            0
LIMITE_DISP_TC       0
CONTACTO_VALIDO      0
ANTIGUEDAD           0
INACTIVIDADCOMPRA    0
TIENE_MAIL           0
GRUPO_AFINIDAD       0
MORA_TARGET          0
dtype: int64

In [54]:
df

,ID_CLIENTE,SEXO,EDAD,MESESINACTIVIDAD,USER_HOMEBANKING,DEBITOAUTOMATICO,RESUMEN_ACTIVO,CANTADICIONALES,PROVINCIA,LIMITE_DISP_TC,CONTACTO_VALIDO,ANTIGUEDAD,INACTIVIDADCOMPRA,TIENE_MAIL,GRUPO_AFINIDAD,MORA_TARGET
0,31838,F,59,0,S,S,1,1,Entre Rios,32000,N,184,0.0,S,0,0
1,1920,F,52,0,N,S,1,0,Santa Fe,3900,N,57,0.0,S,1,0
2,1874,F,36,0,S,N,1,0,Entre Rios,9600,S,56,0.0,S,1,0
3,51955,F,72,0,N,N,5,0,Santiago del Estero,14000,S,78,0.0,N,1,1
4,71864,M,41,0,S,S,1,0,Santiago del Estero,27000,N,157,0.0,S,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81523,11954,M,77,0,S,S,5,0,Cordoba,6000,S,44,0.0,S,1,1
81524,81811,M,26,0,S,S,1,0,Cordoba,8800,X,63,0.0,S,1,0
81525,41826,F,31,0,N,S,1,0,San Luis,25000,S,20,0.0,S,1,0
81526,51856,F,88,0,N,S,1,2,La Pampa,15000,N,131,0.0,S,0,0
81527,81816,M,25,5,S,S,0,0,Cordoba,2400,N,48,5.0,S,1,1

In [55]:
df = df.drop(['PROVINCIA'], axis=1) #Elimino la columna provincia porque no la considero necesaria
df

,ID_CLIENTE,SEXO,EDAD,MESESINACTIVIDAD,USER_HOMEBANKING,DEBITOAUTOMATICO,RESUMEN_ACTIVO,CANTADICIONALES,LIMITE_DISP_TC,CONTACTO_VALIDO,ANTIGUEDAD,INACTIVIDADCOMPRA,TIENE_MAIL,GRUPO_AFINIDAD,MORA_TARGET
0,31838,F,59,0,S,S,1,1,32000,N,184,0.0,S,0,0
1,1920,F,52,0,N,S,1,0,3900,N,57,0.0,S,1,0
2,1874,F,36,0,S,N,1,0,9600,S,56,0.0,S,1,0
3,51955,F,72,0,N,N,5,0,14000,S,78,0.0,N,1,1
4,71864,M,41,0,S,S,1,0,27000,N,157,0.0,S,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81523,11954,M,77,0,S,S,5,0,6000,S,44,0.0,S,1,1
81524,81811,M,26,0,S,S,1,0,8800,X,63,0.0,S,1,0
81525,41826,F,31,0,N,S,1,0,25000,S,20,0.0,S,1,0
81526,51856,F,88,0,N,S,1,2,15000,N,131,0.0,S,0,0
81527,81816,M,25,5,S,S,0,0,2400,N,48,5.0,S,1,1

In [56]:
df['Masculino'] = (df['SEXO'] == 'M').astype(int)
df['Femenino'] = (df['SEXO'] == 'F').astype(int)

In [57]:
df = df.drop(['SEXO'], axis=1) #Creo dos columnas nuevas para colocar los valores de SEXO en modo binario
df

,ID_CLIENTE,EDAD,MESESINACTIVIDAD,USER_HOMEBANKING,DEBITOAUTOMATICO,RESUMEN_ACTIVO,CANTADICIONALES,LIMITE_DISP_TC,CONTACTO_VALIDO,ANTIGUEDAD,INACTIVIDADCOMPRA,TIENE_MAIL,GRUPO_AFINIDAD,MORA_TARGET,Masculino,Femenino
0,31838,59,0,S,S,1,1,32000,N,184,0.0,S,0,0,0,1
1,1920,52,0,N,S,1,0,3900,N,57,0.0,S,1,0,0,1
2,1874,36,0,S,N,1,0,9600,S,56,0.0,S,1,0,0,1
3,51955,72,0,N,N,5,0,14000,S,78,0.0,N,1,1,0,1
4,71864,41,0,S,S,1,0,27000,N,157,0.0,S,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81523,11954,77,0,S,S,5,0,6000,S,44,0.0,S,1,1,1,0
81524,81811,26,0,S,S,1,0,8800,X,63,0.0,S,1,0,1,0
81525,41826,31,0,N,S,1,0,25000,S,20,0.0,S,1,0,0,1
81526,51856,88,0,N,S,1,2,15000,N,131,0.0,S,0,0,0,1
81527,81816,25,5,S,S,0,0,2400,N,48,5.0,S,1,1,1,0

In [58]:
df['CONTACTO_VALIDO'].value_counts()
df = df.drop(['CONTACTO_VALIDO'], axis=1)
df

,ID_CLIENTE,EDAD,MESESINACTIVIDAD,USER_HOMEBANKING,DEBITOAUTOMATICO,RESUMEN_ACTIVO,CANTADICIONALES,LIMITE_DISP_TC,ANTIGUEDAD,INACTIVIDADCOMPRA,TIENE_MAIL,GRUPO_AFINIDAD,MORA_TARGET,Masculino,Femenino
0,31838,59,0,S,S,1,1,32000,184,0.0,S,0,0,0,1
1,1920,52,0,N,S,1,0,3900,57,0.0,S,1,0,0,1
2,1874,36,0,S,N,1,0,9600,56,0.0,S,1,0,0,1
3,51955,72,0,N,N,5,0,14000,78,0.0,N,1,1,0,1
4,71864,41,0,S,S,1,0,27000,157,0.0,S,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81523,11954,77,0,S,S,5,0,6000,44,0.0,S,1,1,1,0
81524,81811,26,0,S,S,1,0,8800,63,0.0,S,1,0,1,0
81525,41826,31,0,N,S,1,0,25000,20,0.0,S,1,0,0,1
81526,51856,88,0,N,S,1,2,15000,131,0.0,S,0,0,0,1
81527,81816,25,5,S,S,0,0,2400,48,5.0,S,1,1,1,0

In [59]:
df = pd.get_dummies(df, columns=['TIENE_MAIL','USER_HOMEBANKING','DEBITOAUTOMATICO']) 
df
#Finalmente el get dummies ayuda a convertir los datos faltantes a datos binarios
#Con esto los datos quedan limpios y listos para aplicar el algoritmo de prediccion

,ID_CLIENTE,EDAD,MESESINACTIVIDAD,RESUMEN_ACTIVO,CANTADICIONALES,LIMITE_DISP_TC,ANTIGUEDAD,INACTIVIDADCOMPRA,GRUPO_AFINIDAD,MORA_TARGET,Masculino,Femenino,TIENE_MAIL_N,TIENE_MAIL_S,USER_HOMEBANKING_N,USER_HOMEBANKING_S,DEBITOAUTOMATICO_N,DEBITOAUTOMATICO_S
0,31838,59,0,1,1,32000,184,0.0,0,0,0,1,0,1,0,1,0,1
1,1920,52,0,1,0,3900,57,0.0,1,0,0,1,0,1,1,0,0,1
2,1874,36,0,1,0,9600,56,0.0,1,0,0,1,0,1,0,1,1,0
3,51955,72,0,5,0,14000,78,0.0,1,1,0,1,1,0,1,0,1,0
4,71864,41,0,1,0,27000,157,0.0,0,1,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81523,11954,77,0,5,0,6000,44,0.0,1,1,1,0,0,1,0,1,0,1
81524,81811,26,0,1,0,8800,63,0.0,1,0,1,0,0,1,0,1,0,1
81525,41826,31,0,1,0,25000,20,0.0,1,0,0,1,0,1,1,0,0,1
81526,51856,88,0,1,2,15000,131,0.0,0,0,0,1,0,1,1,0,0,1
81527,81816,25,5,0,0,2400,48,5.0,1,1,1,0,0,1,0,1,0,1

# A partir de aqui empezamos con Scikit learn

In [60]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, random_state = 1234) #Esta funcion realiza un split de mi dataframe
                                                        #una parte para entreamiento y otra para testeo

In [61]:
print(train.shape) #75% del dataframe para entrenamiento
print(test.shape)  #25% del dataframe para testeo

(61146, 18)
(20382, 18)

In [62]:
y = df.pop('MORA_TARGET') #Es la variable dependiente que queremos averiguar
X = df

In [63]:
X_train, y_train, X_test, y_test = train_test_split(X,y)

In [64]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(61146, 17)
(61146,)
(20382, 17)
(20382,)

In [65]:
X_train.head(3)

,ID_CLIENTE,EDAD,MESESINACTIVIDAD,RESUMEN_ACTIVO,CANTADICIONALES,LIMITE_DISP_TC,ANTIGUEDAD,INACTIVIDADCOMPRA,GRUPO_AFINIDAD,Masculino,Femenino,TIENE_MAIL_N,TIENE_MAIL_S,USER_HOMEBANKING_N,USER_HOMEBANKING_S,DEBITOAUTOMATICO_N,DEBITOAUTOMATICO_S
12493,31935,62,0,1,1,11000,51,0.0,1,1,0,0,1,0,1,0,1
31904,51993,43,0,1,0,3800,103,0.0,1,0,1,0,1,1,0,0,1
32581,31812,60,0,1,0,17000,24,0.0,1,1,0,0,1,1,0,0,1

In [66]:
predictors = ['ID_CLIENTE', 'EDAD', 'MESESINACTIVIDAD', 'RESUMEN_ACTIVO', 
              'CANTADICIONALES', 'LIMITE_DISP_TC', 'ANTIGUEDAD', 'INACTIVIDADCOMPRA', 
              'GRUPO_AFINIDAD', 'Masculino', 'Femenino', 'TIENE_MAIL_N', 
             'TIENE_MAIL_S', 'USER_HOMEBANKING_N', 'USER_HOMEBANKING_S', 
              'DEBITOAUTOMATICO_N', 'DEBITOAUTOMATICO_S']

In [67]:
X_train = train[predictors].values #Mis variables independientes van a ser los valores de los predictores
print(X_train[:2])

[[3.1927e+04 6.0000e+01 0.0000e+00 0.0000e+00 0.0000e+00 1.3020e+04
  3.0000e+00 0.0000e+00 1.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00
  0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00]
 [3.1971e+04 3.2000e+01 0.0000e+00 0.0000e+00 0.0000e+00 1.3500e+04
  2.1000e+01 0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 1.0000e+00
  0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00]]

In [68]:
X_test = test[predictors].values
print(X_test[:2])

[[3.1896e+04 6.1000e+01 1.6000e+01 0.0000e+00 0.0000e+00 0.0000e+00
  7.8000e+01 1.6000e+01 1.0000e+00 0.0000e+00 1.0000e+00 1.0000e+00
  0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00]
 [1.1830e+04 2.7000e+01 6.0000e+00 0.0000e+00 0.0000e+00 9.0000e+02
  5.5000e+01 5.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00
  0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00]]

In [69]:
y_train = train['MORA_TARGET'].values #Mi variable dependiente esta en la columna mencionada
print(y_train[:10])

[0 0 1 1 1 0 0 0 0 0]

In [70]:
y_test = test['MORA_TARGET'].values
print(y_test[:10])

[1 1 0 0 0 0 0 0 0 0]

### Una vez establecidos los predictores y sus valores, ahora sigue entrenar al modelo
### primeramente usando regresion logistica

In [71]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train) 

#El metodo fit toma los datos de entrenamiento como argumentos
#The â€˜fitâ€™ method trains the algorithm on the training data, 
#after the model is initialized. Thatâ€™s really all it does.

LogisticRegression()

In [72]:
#Luego testeamos los resultados:

In [73]:
y_predict = model.predict(X_test)
y_predict[:20]

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [74]:
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score
metrics.accuracy_score(y_test, y_predict, normalize=True, sample_weight=None)

0.8111078402512021

# Cross validation

In [75]:
from sklearn.model_selection import cross_val_score
model = LogisticRegression(max_iter=1000)
#Debido a un error que tuve con la funciÃ³n de regresiÃ³n logÃ­stica, tuve que aumentar la cantidad maxima de iteraciones
#a 1000 para asÃ­ evitar la ventana de mensaje que recibÃ­a.

In [76]:
scores = cross_val_score(model, X_train, y_train, cv=4)
print(scores)
print(scores.mean())

[0.83763982 0.83862105 0.79968599 0.8433861 ]
0.8298332418409777

In [ ]:
#Obtuvo un 82% de promedio luego de realizar el cross validation.